---
import MainContainer from "@/components/MainContainer.astro"
import Layout from "@/layouts/Layout.astro"

---
<Layout
  title="Proyectos varios"
  description="Este es un compilado de proyectos hechos en un día, challenges sacados de internet y para practicar conocimientos."
>
  <MainContainer>
    <h1 class="text-3xl text-yellow-300/80 mb-4 font-bold tracking-widest">Proyectos</h1>
    <nav class="px-2 flex flex-col gap-4">
      <ul>
        <a class="hover:opacity-75 hover:scale-105 transition-transform inline-block" href="./pomodoro">Pomodoro Timer</a>
      </ul>
    </nav>
  </MainContainer>
</Layout>