---
import Layout from "../layouts/Layout.astro"
import MainContainer from "../components/MainContainer.astro"
import Header from "../components/Header.astro"
---
<Header>
    <Layout 
    title="Pomodoro"
    description="Aplicacion de Pomodoro Timer para gestionar el tiempo de trabajo.">
        <MainContainer>
            <h1 class="text-3xl font-bold text-center">Pomodoro</h1>
        </MainContainer>
    </Layout>
</Header>
