---
import Layout from "../layouts/Layout.astro"
import MainContainer from "../components/MainContainer.astro"
import Header from "../components/Header.astro"
---
<Header>
    <Layout 
    title="Pomodoro"
    description="Aplicacion de Pomodoro Timer para gestionar el tiempo de trabajo.">
        <MainContainer>
            <div class="flex flex-row w-full justify-between items-center">
                <button class="w-12 h-24 text-3xl rounded-2xl bg-gray-100/10 hover:bg-slate-100/20 transition-colors" id="substractMinute" onclick="substractMinute()">
                    -
                </button>

                <div class="mx-8 rounded-full h-60 w-full flex items-center justify-center text-center text-7xl" 
                id="timer"> 15:00 
                </div> 
                
                <button class="w-12 h-24 text-3xl rounded-2xl bg-gray-100/10 hover:bg-slate-100/20 transition-colors" id="addMinute" onclick="addMinute()">
                    +
                </button>
            </div>
            
            <div class="flex flex-row justify-between gap-4"> 
                <button class='contol-buttons' id="toggleTimer" onclick="togglePauseResume()"> 
                    Start 
                </button> 
                <button class='contol-buttons' onclick="restartTimer()"> 
                    Restart 
                </button> 
                <button class='contol-buttons' onclick="chooseTime()"> 
                    Choose Time 
                </button> 
            </div>

        </MainContainer>
    </Layout>
</Header>

<script is:inline>
/*TODO: Arreglar botones cuando esta pausado, usar un estado para saber cuando "No arranc칩", "Arranc칩 y se paus칩" o "Est치 activo"
        Agregar contadores de pomodoro
        Agregar tiempo de descanso

*/

let timer, minutes = 15, seconds = 0, isPaused = true, enteredTime;
const addMinuteElement = document.getElementById('addMinute')
const substractMinuteElement = document.getElementById('substractMinute')

function startTimer(){
    addMinuteElement.setAttribute('hidden', true)
    substractMinuteElement.setAttribute('hidden', true)

    seconds = 59
    minutes--

    timer = setInterval(updateTimer, 1000);
}

function updateTimer(){
    const TIMER_ELEMENT  = document.getElementById('timer')
    TIMER_ELEMENT.textContent = formatTime(minutes, seconds)

    if(minutes == 0 && seconds == 0){
        clearInterval(timer)
        
        alert('Pomodoro completado!')
        const PLAY_PAUSE_ELEMENT = document.getElementById('toggleTimer');
        PLAY_PAUSE_ELEMENT.textContent = 'Start'
    }
    else if (!isPaused){
        if(seconds > 0){
            seconds--
        }
        else{
            seconds = 59
            minutes--
        }
    }
}

function formatTime(minutes, seconds) {
    return `${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`
}


function togglePauseResume() { 
    const PLAY_PAUSE_ELEMENT = document.getElementById('toggleTimer');

    isPaused = !isPaused; 

    if (isPaused) { 
        addMinuteElement.removeAttribute('hidden')
        substractMinuteElement.removeAttribute('hidden')

        clearInterval(timer); 
        PLAY_PAUSE_ELEMENT.textContent = 'Resume'; 
    } else { 
        startTimer(); 
        PLAY_PAUSE_ELEMENT.textContent = 'Pause'; 
    } 
} 

function chooseTime() { 
    const newTime = prompt('Enter new time in minutes:'); 
    if (!isNaN(newTime) && newTime > 0) { 
        enteredTime = parseInt(newTime); 
        minutes = enteredTime; 
        seconds = 0; 
        isPaused = false; 
        const timerElement = document.getElementById('timer'); 
        timerElement.textContent = formatTime(minutes, seconds); 
        clearInterval(timer); 
        const PLAY_PAUSE_ELEMENT = document.getElementById('toggleTimer') 
        PLAY_PAUSE_ELEMENT.textContent = 'Start';
        isPaused = true;  
    } else { 
        alert('Invalid input. Please enter'+ 
            ' a valid number greater than 0.'); 
    } 
} 
function restartTimer() { 
    clearInterval(timer);
    enteredTime ? minutes = enteredTime : minutes = 15 
    seconds = 0; 
    isPaused = true; 
    const timerElement = document.getElementById('timer'); 
    timerElement.textContent = formatTime(minutes, seconds); 
    const PLAY_PAUSE_ELEMENT = document.getElementById('toogleTimer') 
    PLAY_PAUSE_ELEMENT.textContent = 'Start'; 
    console.log('restart')
} 

function addMinute() {
    if(minutes < 99){
    minutes++
    const TIMER_ELEMENT = document.getElementById('timer')
    TIMER_ELEMENT.textContent = formatTime(minutes, seconds)
}
}

function substractMinute() {
    if(minutes > 1){ 
        minutes--
        const TIMER_ELEMENT = document.getElementById('timer')
        TIMER_ELEMENT.textContent = formatTime(minutes, seconds)
    }
}
    
    

</script>

<style>
    #timer {
        font-family: 'Space Mono', monospace, sans-serif, system-ui, -apple-system;
        letter-spacing: 0.1em;
    }
    .contol-buttons{
        width: 200px;
        align-items: center;
        text-align: center;
    }
</style>