---
import LeftArrow from "./icons/LeftArrow.astro"
---
<header class="w-6/12 mx-auto pt-4">
    <nav class="flex">
        <a class="p-1 border-gray-100/50 border rounded-xl hover:scale-110 hover:bg-slate-100/10 transition-transform" href="/">
            <LeftArrow class="size-10 "></LeftArrow>
        </a>
    </nav>
   

    <slot/>
</header>